/* header, footer 전용 위치 */
/* header pc */
header{
    background: #222; height: 80px;
    max-width: 1920px;
    display: flex;
    /* 위치 정리하기 */
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
header h1{width: 300px}
header h1 a{}
header h1 a img{width: 100%}
header nav{position: relative;}
header nav .gnb{display: flex;}
header nav .gnb>li{margin-right: 60px; position: relative; z-index: 200;}
header nav .gnb>li:last-child{margin: 0;}
header nav .sub_bg{
    /* 서브 공통 배경 위치 */
    background: #222;
    display: block; position: absolute;
    width: 100%; height: 133px; z-index: 100;
}
header nav .gnb li>a{
    color: #fff;
    font-size: 1.19rem;   /* 19px */
    letter-spacing: -2%;
}
header nav .gnb> li > .sub{
    position: absolute; top: 43px;
    width: max-content; text-align: center;
    /* absolute 적용 상태에서 요소를 부모 기준 가운데 배치 할 경우 */
    left: 50%; transform: translateX(-50%);
}
header nav .gnb>li> .sub li{}
header nav .gnb>li> .sub li a{
    color: #fff; line-height: 1.7;
    font-size: 1.0rem;
    
}
header .lnb{display: flex;}
/* 콘텐츠 관리 버튼 정렬 조정 */
header .lnb a{margin-left: 30px;}
header .lnb a:last-child{margin-left: 0px;}
header .lnb .content_link{
    color: #fff;
    font-size: 1.19rem;   /* 19px */
    letter-spacing: -2%;
    border: 2px solid #fff;
    border-radius: 5px; padding: 4px;
    height: max-content;
    
}
header .lnb .alarm{width: 32px; height: 32px;}
header .lnb .alarm img{filter:invert(1); width: 100%;}
/* img 태그를 반응형 처리 할 경우 img는 width:100% 상대값으로 설정,
img의 부모 태그한테 원하는 px크기를 적용하는 방향으로 처리 */
/* header tablet+mobile nav */
/* ================ 태블릿, 모바일에서 보이는 메뉴 위치!! */
header .lnb .m_nav{
    /* display: none; */
    background: brown;
    width: 32px; height: 32px;
    position: relative;
}
header .lnb .m_nav span{
    display: block; height: 5px; background: #fff;
    position: absolute; left: 0; width: 100%;
}
header .lnb .m_nav span:nth-child(1){top: 0;}
header .lnb .m_nav span:nth-child(2){top: 45%;}
header .lnb .m_nav span:nth-child(3){bottom: 0;}
/* 전체메뉴 span*3 X모양 만들기 */
/* header .lnb .m_nav span:nth-child(1){
    transform: rotate(45deg);
    transform-origin: left top;
}
header .lnb .m_nav span:nth-child(2){display: none;}
header .lnb .m_nav span:nth-child(3){
    transform: rotate(-45deg);
    transform-origin: left top;
} */
header .m_nav_wrap{
    background: #222;
    position: fixed; right: 0; top: 80px; z-index: 999;
}
header .m_nav_wrap .gnb{
    width: 210px; height: 385px;
    left: 20%;
}
header .m_nav_wrap .gnb>li{
    font-size: 1.2rem; font-weight: 900;
    margin: 25px 25px;
}
header .m_nav_wrap .gnb>li:last-child{
    margin-bottom: 0;
}
header .m_nav_wrap .gnb>li >a{color: #fff;}
header .m_nav_wrap .gnb>li> .sub{}
header .m_nav_wrap .gnb>li> .sub li{
    font-size: 1.0rem; font-weight: 400;
    margin: 5px;
}
header .m_nav_wrap .gnb>li> .sub li a{color: #fff;}